<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Description for the User</h2>
    <p>  {{UserInf.fname}} </p>
    <p>  {{UserInf.lname}} </p>
    <p>  {{UserInf.email}} </p>
    <p>  {{UserInf.age}} </p>


    <!-- fname = models.CharField(max_length=255)
    lname = models.CharField(max_length=255)
    email = models.CharField(max_length=255)
    age = models.IntegerField() -->
</body>
</html>