<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>


</head>
<body>
    <h1> HTML Table</h1>

    <table>
        <th>
        <th><tr><th>First name</th><th>Last name</th><th>Full name</th></tr>
        <tbody>
            
            <!-- <tr><td>name</td>
                <td>name</td>
                <td>name</td>
            </tr>
            <tr><td>name</td>
                <td>name</td>
                <td>name</td>
            </tr>
            <tr><td>name</td>
                <td>name</td>
                <td>name</td>
            </tr> -->
            {% for x in userlist %}
            <tr>
                <td>{{x["first_name"]}}</td>
                <td>{{x["last_name"]}}</td> 
                <td>{{x["first_name"]}}, {{x["last_name"]}}</td> 
            </tr>
            {% endfor %}
            
        </tbody>
            
        
    </table>
</body>
</html>