<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All the users</h1>
    <form action="/createUser" method="post">
        {% csrf_token %}
        <p>First Name: <input type="text" name="fname" id=""></p>
        <p>Last Name: <input type="text" name="lname" id=""></p>
        <p>Age: <input type="number" name="ageInput" id=""></p>
        <p><input type="submit" value="Create User"></p>
    </form>


    <h3>Create a new post</h3>
    <form action="/createPost" method="post">
        {% csrf_token %}
        <p><textarea name="msg" id="" cols="30" rows="10"></textarea></p>
        <p><select name="usr" id="">
            {% for userObj in allUsers %}
            <option value="{{userObj.id}}">{{userObj.first_name}} {{userObj.last_name}}</option>
            {% endfor %}
            
        </select></p>
        <p><input type="submit" value="Create Post"></p>
    </form>
    <hr>
   
    {% for userObj in  allUsers %}
        <p><b>{{userObj.first_name}} {{userObj.last_name}}</b></p>
     
        <ul>
        {% for postObj in userObj.posts_uploaded.all %}
            <li>{{postObj.content}}</li>
        {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>