<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <style>
        #box {
            width: 600px;
            background-color: whitesmoke;
            margin: 0px auto;
        }
    </style>
</head>

<body>
    <div id="box">
        <h1> Hey here are the Results!</h1>

        <p>First Name: {{submitinfo.name}} </p>
        <p>Dojo Location: {{submitinfo.Location}}</p>
        <p>Favorite Language: {{submitinfo.FavLanguage}}</p>
        <p>Comment: {{submitinfo.Comment}}</p>

        <a href="../"><input type="button" value="Back" class="btn btn-primary" /></a>
    </div>
</body>

</html>